@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Upload your file here</p>

    <form id="uploadForm" name="uploadForm" action="/home/upload" enctype="multipart/form-data" method="post">       
            <input name="files" type="file" id='fileinput' accept=".csv,.xml, .txt" multiple />             
            <input id="submit" type="submit" value="Upload" />     
    </form>

    <div id="results-section">
        <h4 class="results-header">Results: </h4>
        <div id="results"></div>
    </div>
    
    <progress></progress>
</div>
